<div class="confirm-dialog">
  <div class="dialog-header">
    @if (data.icon) {
      <mat-icon [class]="'icon-' + (data.confirmColor || 'primary')">
        {{ data.icon }}
      </mat-icon>
    }
    <h2 mat-dialog-title>{{ data.title }}</h2>
  </div>

  <mat-dialog-content>
    <p>{{ data.message }}</p>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button
      mat-button
      (click)="onCancel()"
      type="button">
      {{ data.cancelText || 'Cancel' }}
    </button>
    <button
      mat-raised-button
      [color]="data.confirmColor || 'primary'"
      (click)="onConfirm()"
      type="button"
      cdkFocusInitial>
      {{ data.confirmText || 'Confirm' }}
    </button>
  </mat-dialog-actions>
</div>
