:host {
  display: block;
}

.skeleton-loader {
  background: linear-gradient(
    90deg,
    var(--color-neutral-200) 0%,
    var(--color-neutral-100) 50%,
    var(--color-neutral-200) 100%
  );
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s ease-in-out infinite;
  margin-bottom: var(--spacing-sm);

  &:last-child {
    margin-bottom: 0;
  }

  &.skeleton-circle {
    aspect-ratio: 1;
  }

  &.skeleton-rectangle {
    min-height: 100px;
  }
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
